/* PC */
/* @media (min-width : 1024px) */
@media (min-width : 64px)
{

}


/* Tablet & mobile */
/* @media (max-width : 1023px) */
@media (max-width : 63.9375em)
{

}

/* Mobile */
/* @media (max-width : 739px) */
@media (max-width : 46.1875em)
{
   
    .verify__code{
        border-radius: 5px;
        font-size: 16px;
        height: 30px;
        width: 20px;
        border: 1px solid #eee;
        outline-width: thin;
        outline-color: #ddd;
        text-align: center;
        justify-content: center;
        font-weight: 30;
        align-items: center;
    }
}