.login__google {
    width: 70%;
  }
  
  .login__google-btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .login__google-img {
    width: 20px;
  }
  
  .login__google-text {
    padding: 0 1rem;
    font-weight: 600;
  }