.slideEdit {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #f2f2f2;
    height: calc(100vh - 200px) ;
    overflow: auto;
}

.slideTypeTitle {
    font-weight: bold;
}

.slideType {
    margin-bottom: 10px;
}

.slideTypeDropbox {
    margin: 20px 0px;
}

.typeChoice {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.questionBox {
    margin: 10px 0px;
}

.slideTypeTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.optionQuestion {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.addOptionText {
    font-weight: bold;
    margin: 0px 10px
}

.optionBoxTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.resultLayout {
    margin: 10px 0px;
}

.resultLayoutTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.questionLen {
    font-size: small;
    opacity: 0.7;
}

.resultLayoutList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resultLayoutChoice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #6e6e6e;
    border-radius: 3px;
    padding: 20px 40px;
    margin-right: 5px;
    margin-top: 5px;
    width: 40px;
}

.resultLayoutChoice:hover {
    opacity: 0.7;
}