
.slideshow__content{
    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;

}
.slideshow__header{
    background: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: row;
    font-size: 24px;
    justify-content: center;
    align-items: center;
}
.exitbutton {
    left: 0;
    top: 0;
    background-color:  rgba(10, 10, 10, 0.6);
    border-radius: 50%;
    margin: 4px;
    width: max-content;
    height: max-content;
    padding: 8px;
    cursor: pointer;
}
.slideshow__text{
    align-self: center;
}
.slideshow__wrapper{
    padding: 32px;
}
.slideshow__title{
    color: rgb(37, 43, 54);
    line-height: 1.2;
    font-weight: 600;
    text-align: inherit;
    font-size: 56px;
    margin-bottom: 32px;
}

.bar {
    fill: red; /* changes the background */
    height: 21px;
    transition: fill .3s ease;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
  }

.chart__lineWrapper{
    transform: translate(24, 54);
    cursor: pointer;
}

.chart__axis{
transform: translate(0, 395.7);
fill: none;
font-size: 10px;
text-anchor: middle;
}

.chart__domain{
    stroke: rgb(37, 43, 54);
    stroke-width: 3;
}

.chart__tick{
    opacity: 1;
    transform: translate(208.5, 0);
}

.my_input{
    background-color: aqua;
}