.forgotPass__page{
    background-color: rgb(215, 205, 205);
    align-items: center;
    padding: 1.5rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.forgotPass__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 416px;
    height: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 4px 0px;
}
.formPass__content{
    margin: 16px;
    height: max-content;
    justify-content: center;
    align-items: center;
    width: calc(100% - 3rem);
    max-width: 22.5rem;
}
.formPass__tilte{
    font-size: 24px;
    line-height: 140%; 
    color: #333;
    text-align: center;
    font-weight: bold;
}
.backtoLogin{

    margin-top: 16px;
    display: flex;
    justify-content: center;
    color: rgb(69, 163, 229);
    text-align: center;
    letter-spacing: 0.2px;
    font-size: 0.9rem;
}