/* .profile__page{
    display: flex;
    box-sizing: border-box;
    min-width: 0px;
    margin: 0px auto;
    width: 100%;
    max-width: 1280px;
    flex-wrap: wrap;
    height: fit-content;
} */
.profile__content{
    margin: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile__header{
    font-size: 28px;
    color: #333;
    margin: 16px 16px;
}
.card__line{
    width: 100%;
    border-top: 1px solid rgb(204, 204, 204);
}

/* For both User Info Table & Account Detail Table */
.profile__table{
    display: flex;
    flex-direction: row;
    margin: 16px 0px;
    width: 100%;
    justify-content: space-between;}
.table__wrapper{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    flex-basis: 47%;
    margin: 16px;
    border: 5px solid rgb(226, 221, 221);
}
.table__navbar {
    padding: 12px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.navbar__title{
    font-size: 14;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
.navbar__saveBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    min-height: 36px;
    background-color: rgb(204, 204, 204);
    border-radius: 4px;
    border: 1px solid rgb(0,0,0);
    cursor: pointer;
    box-shadow: none;
    font-weight: bold;
    font-family: inherit;   /* To inherit font */
}

.navbar__saveBtn:hover{
    background-color: rgb(158, 158, 158);
}
.table__label{
 
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: bold;
}
.table__Field{
    display: flex;
    flex-direction: column;
    width: 100%;
}


/* Begin: Table UserInfo */

.userInfo__content{
    display: flex;
    flex-direction: row;
}
.userInfo__image{
    width: 136px;
    height: 136px;
    background: rgb(242, 242, 242);
    display: flex;
    flex-direction: column;
    justify-content: center;/* căn theo chiều ngang */
    align-items: center;/* Căn theo chiều dọc */
    border: 1px dashed rgb(204, 204, 204);
    border-radius: 4px;
    cursor: pointer;
    margin: 8px;

}

.userInfo__detail{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin:  8px;
}

.userInfo__usernameField{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.userInfo__usernameWrapper{
    display: flex;
    flex-direction: row;
}

.userInfo__usernameInput{
    cursor: default;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    opacity: 1;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(178, 178, 178) ;
    border-radius: 0.25rem;
    opacity: 1;
    background-color: rgb(242, 242, 242);
    font-size: 1rem;
    padding: 0 16px;
   
}
.userInfo__EditBtnWrapper{
    display: flex;

}
.userInfo__EditButton{  
    width: 44px;
    height: 44px;
    margin: 0px 0px 0px 8px;
    padding: 6px;
    background: rgb(242, 242, 242);
    cursor: pointer;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid rgb(178, 178, 178);
    
    
}
/* End: Table UserInfo */


.profile__Input{
    cursor: default;
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    opacity: 1;
    color: rgb(51, 51, 51);
    border: 1px solid rgb(178, 178, 178) ;
    border-radius: 0.25rem;
    opacity: 1;
    background-color: rgb(242, 242, 242);
    font-size: 1rem;
    padding: 0 16px;
   
}
/* End: Table UserInfo */

/* Begin: Table Account Detail */

.accountDetail__content{
    display: flex;
    flex-direction: column;
    margin:  8px;
}