.content {
    background-color: #F2F2F2;
    flex-direction: column;
    display: flex;
    padding: 7em 5em;
    height: max-content;
    flex-wrap: wrap;

}
.shortMode{
    flex: 2
}
.widthMode {
    display: flex;
    flex: 3;
    flex-direction: row;
    height: max-content;

}
.col1 {
    flex: 1
}

.col2 {
    flex: 2;
}

.col3 {
    flex: 1;
}

 @media (min-width: 1400px) {
   

    .shortMode {
        display: none;

    }
    .widthMode {
        display:flex   ;

    }
}

@media (max-width: 1400px) {
    .widthMode {
        display: none;

    }

    .shortMode{
        display: block;
    }
}