/* Reset CSS */
* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-decoration: none;
    /* Remove dot before ul, li */
    list-style: none; 

}

/* Define for all */
html {
    scroll-behavior: smooth;
    font-family:  Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Form text: size 14 */
.text--14 {
    font-size: 14px;
}

/*text: bold */
.text--b {
    font-weight: bold;
}
.text--grey{
    color: rgb(51, 51, 51);
}

.text--center {
    text-align: center;
}
.display--col {
    display: flex;
    flex-direction: column;
}
.page {    
    background-color: rgb(215, 205, 205);
    align-items: center;
    padding: 1.5rem;
    width: 100vw;
    height: 100vh;
}

/* remove Arrows (spinner) from Number Input */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}