.list__nav{
    display: flex;
    flex-direction: row; 
    height: 40px;  
}
.nav__checkboxAll{
    padding: 0px 8px;
}
.input__checkboxAll{
    width: 16px;
    height: 16px;
}
.nav__Wrapper{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.nav__title{
    color: rgba(16, 24, 52, 0.75);
    line-height: 1.4;
    font-size: 16px;
    word-wrap: break-word;
    font-weight: 600;
    font-family: inherit;
    max-width: 100%;
    padding-right: 4px;

}
.nav__nameWrapper{
    padding: 0px 8px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
}

.nav__OwnerWrapper{
    width: 20%;
}

.nav__modifiedWrapper{
    width: 20%;
}

.nav__createdWrapper{
    width: 20%;
}

.nav__extraWrapper{
    width: 50px;
}