.slideContent {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    height: 100%
}



.main {
    overflow-wrap: normal;
    display: flex;
    flex-direction: column;
    height: 100%
}

