.PresentationElement{
    display: flex;
    flex-direction: row; 
    height: 64px;  

    align-items: center;
}
.PresentationElement:hover{
    background-color: rgba(231, 232, 235, 0.6);
}
.element__checkbox{
    padding: 0px 8px;
}
.input__checkbox{
    width: 16px;
    height: 16px;
}
.element__Wrapper{
    display: flex;
    flex-direction: row;
}
.element__text{
   
    line-height: 1.4;
    font-size: 16px;
    word-wrap: break-word;
    font-weight: 600;
    font-family: inherit;
    max-width: 100%;
    padding-right: 4px;

}
.element__nameWrapper{
    padding: 0px 8px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
    color: rgba(16, 24, 52, 0.75);
}
.present__name{
    background-color: transparent;
}
.startPresent__Btn{
    margin-right: 8px;
    cursor: pointer;
    background-color: transparent;
}
.element__OwnerWrapper{
    width: 20%;
    color: rgba(16, 24, 52, 0.5);
}

.element__modifiedWrapper{
    width: 20%;
    color: rgba(16, 24, 52, 0.5);
}

.element__createdWrapper{
    width: 20%;
    color: rgba(16, 24, 52, 0.5);
}

.element__extraWrapper{
    background-color: transparent;
}
.popup__icon{
    margin-right: 7px;
}

.popup__item{
    font-family: inherit;
    font-weight: 600;
}
.popup__delete{
    color: red;
}